html{
    scroll-behavior: smooth;
}


body{
    height: 100%;
    background-image: linear-gradient(to right, #D12828, #181A19, #1D1F1F);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: #c4b7af;

}

    
.logo1{
    float: right;
    position: fixed;
    right: 0%;
    top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;

}
.logo{
    float: right;
    position: fixed;
    right: 4%;
    top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50px;

}

.gear-container{
    position: fixed;
   
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;

}
.gear{
    width: 100px;
    height: 100px;
    position: fixed;
    animation: rotate 5s linear infinite; /*makes it spin infinity*/
    opacity: 0.2; /*makes it look like a background*/
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}
/*ive rotated all my gears at once incide the gear so i dont have to write it seperately */


.gear2{
    top: 45%;
    left: 78%;

}

.gear3{
    top: 40%;
    left: 83%;
    animation: rotate 5s linear infinite;
}

.gear6{
    width: 250px;
    height: 250px;
    position: fixed; /*ive fixed the position so it doesnt move when i make changes*/
    animation: rotate 5s linear infinite; /*makes it spin infinity*/
    opacity: 0.2; /*makes it look like a background*/
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}
/*ive rotated all my gears at once incide the gear2 so i dont have to write it seperately */
/*ive wanted to change the size of these so i wrote them seperately */

.gear4{
    top: 70%;
    left: 25%;

}

.gear5{
    top: 45%;
    left: 20%;
    
}
.container{
    width: 100%;
    display: block;
}
#info-toggle{
    position: fixed;
    top: 30px;
    left: 20px;
    height: 40px;
    width: 50px;
    background-color: #1D1F1F;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.navbar{
    position: fixed;/*is fixed so it prevents your home section to be pushed down */
    top: 30px;
    left: 80px;
    display: flex;
    width: auto; /*if you dont want it to be side by side you remove this one */
    height: 5em;
    border-radius: 20px;
    background-color: rgb(38, 40, 42, 0.5);
    backdrop-filter: blur(10px);
    justify-content: space-between;
    padding: 15px 30px;
box-shadow: 0 10px 20px rgba(49, 45, 45, 0.5);
z-index: 999;
 animation: anime 1s ease forwards; 
}
@keyframes anime {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.navlinks{
    
    position: relative; /*  REQUIRED */
    display: inline-block; /*  ensures proper sizing */

    font-size: 50px;
    border-radius: 5px;
    text-decoration: none;
    padding:10px 40px; 
     background: linear-gradient(90deg, #563d2d, #c2afa5, #836753);
     -webkit-background-clip: text;/*Only show the background inside the text shape, normally background covers the whole element so this tells the background to only cut to the 
     letters */ /*this also covers the colors so it wont work anymore even in hover */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*It makes the actual text invisible, so the background shows through.*/

}
.navlinks::before { /*added this because i want to put a hover but because the webkit was blocking the colors i had to make it like this to still make a hover 
    without having the front letters blocked */
    content: "";
    position: absolute;
    inset: 0;
    background: #1D1F1F;
    border-radius: 20px;
    opacity: 0; /*this makes it fully transparant*//*The hover background starts hidden*/
    z-index: -1; /*makes it react like a background, so lower index means goes behind and a higher index number means its going closer to the user */
    transition: opacity 0.3s ease;
    /*This creates a hidden background layer behind the text*/
}

.navlinks:hover::before {
    opacity: 1; /*fully visible*/
}

section{
    height: 100vh;
    position: relative;
    display: flex;
    max-width: 900px;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

h1,h2, h3, h4{
    color: #c4b7af;
    font-size: 50px;
    
}

p{
    margin-left: 30%;

}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    row-gap: 30px; /*puts a gap between the rows */
}

.fadeIn{ 
 background-color: #c4b7af;

}
.img1{
    max-width: 50px;
    max-height: 50px;
    border-radius: 99px;
    box-shadow: 5px 4px grey;
}